@import "partials/fonts";
@import "partials/layout";
@import "partials/ingredient";
@import "partials/burger";
@import "partials/buildControls";
@import "partials/control";
@import "partials/modal";
@import "partials/backdrop";
@import "partials/button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
}