.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    &:disabled {
      background-color: grey;
      border: 1px solid black;
      color: lightgrey;
      cursor: default;
    }
    &:hover:disabled {
      background-color: grey;
      color: lightgrey;
      cursor: not-allowed;
    }
  }
  .label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
  }
  .more {
    background-color: green;
    color: white;
    &:hover {
      background-color: lightgreen;
      color: black;
    }
    &:hover:active {
      background-color: lightgreen;
      color: black;
    }
  }
  .less{
    background-color: red;
    color: white;
    &:hover {
      background-color: pink;
      color: black;
    }
    &:hover:active {
      background-color: pink2;
      color: black;
    }
  }
}